<nav class="nav-menu">
    <ul class="navbar-nav">
        <li class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                🏠 Dashboard
            </NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="trainings">
                📅 Trainings
            </NavLink>
        </li>
        <AuthorizeView Policy="GroupMember">
            <li class="nav-item">
                <NavLink class="nav-link" href="my-registrations">
                    📋 My Registrations
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Policy="GroupTrainer">
            <li class="nav-item">
                <NavLink class="nav-link" href="trainer-trainings">
                    🎯 My Trainings
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Policy="GroupAdmin">
            <li class="nav-item">
                <NavLink class="nav-link" href="users">
                    👥 Users
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Policy="GroupAdmin">
            <li class="nav-item">
                <NavLink class="nav-link" href="groups">
                    📂 Groups
                </NavLink>
            </li>
        </AuthorizeView>
        <AuthorizeView Policy="SuperAdmin">
            <li class="nav-item">
                <NavLink class="nav-link" href="config/mail">
                    ⚙️ Config
                </NavLink>
            </li>
        </AuthorizeView>
    </ul>
</nav>
